<p class="current-active-user">current user logged email: {{currentUserLogged.email}}</p>
<div class="wrapper">
    <div class="static-txt">
        Welcome to
    </div>
    <ul class="dynamic-txts">
        <li><span>Home</span></li>
        <li><span>School</span></li>
        <li><span>Home</span></li>
        <li><span>World</span></li>
    </ul>
</div>
<div class="border border-secondary my-2 p-2">
    <header>
        <section class="header-section">
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error omnis ab quam! Dolor cum ipsam tempora sint, libero distinctio maiores commodi minus eos sapiente quos pariatur, modi quod incidunt autem mollitia et recusandae. Expedita illum quasi recusandae atque et, provident necessitatibus optio quibusdam dolores sapiente rerum, nihil nulla dignissimos, magni vero culpa voluptas iusto aut. Adipisci tempore alias quaerat perspiciatis natus dolorem minima voluptatum vero facere molestias, eum, officia necessitatibus eligendi ipsum iste iusto aut commodi enim facilis quod! Quos qui, cum illum nemo vero atque explicabo inventore pariatur tempora sequi in quam enim corrupti dolores vel mollitia ea voluptas.</p>
            </div>
            <div class="img-holder">
                <img class="desanka" src="../../assets/desankaMaksimovic.jpg" alt="desankaMaksimovic.Photo">
            </div>
        </section>
    </header>

    <main>
        <div>
            <img src="../../assets/class.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quas!</p>
        </div>
        <div>
            <img src="../../assets/classMates.jpeg" alt="">
            <p>Kids in the school are having fun!</p>
        </div>
        <div>
            <img src="../../assets/atTheClass.jpg" alt="">
            <p>Studying...</p>
        </div>
        <div>
            <img src="../../assets/school.jpg" alt="">
           <p>You can check our School Info</p>
        </div>
    </main>

    <footer class="py-3">
        &copy;Copyright Desanka Maksimovic 1898-1993
    </footer>
</div>